<div class="row">
  <div class="col-md-4 col-md-offset-4">

  <h3>Success</h3>
  <p>A password reset email has been sent to the address you entered. It should arrive within a few minutes.</p>
  <p>For security reasons, you have only have two hours (from now) to reset your password.</p>

  </div>
</div>
