<h1>Request Password Reset:</h1>
<p>Please enter your email below, and we will send you instructions on how to reset your password:</p>
<%= form_tag(reset_url, method: :post) do %>
    <%= text_field_tag :email, nil, placeholder: "Email" %>
    <%= button_tag 'send email' %>
<% end %>
