<div class="row">
  <div class="col-md-4 col-md-offset-4">

  <h3>Request Password Reset</h3>

  <%= form_tag(reset_url, method: :post, role: "form") do %>

    <div class="form-group">
      <%= email_field_tag :email, nil, placeholder: "Email", class: "form-control", required: :true %>
    </div>

    <div class="form-group">
      <%= button_tag 'Send Password Reset Email', class: "btn btn-primary" %>
    </div>

  <% end %>
  </div>
</div>

<%= render 'layouts/remove_password_alert' %>
