<h1>Enter your new password:</h1>

<%= form_tag(reset_url, method: :post) do %>
    <%= password_field_tag :password, nil, placeholder: "Password" %>
    <%= password_field_tag :password_confirmation, nil, placeholder: "Confirm Password" %>
    <%= button_tag 'Update password' %>
<% end %>

<script type="text/javascript">
  $('.alert-danger').remove();
</script>
