<!-- Do we still need this page, or is agent_step2.html doing this work? -->

&nbsp;

<div class="row">
  <div class="large-2 columns">&nbsp;</div>
  <div class="large-6 columns">
    <h1>Referral Accepted.</h1>

    <p>Great! Next, we need your broker’s details so they can approve the referral.</p>
    <p>[ Broker name ]</p>
    <p>[ Broker email ]</p>
    <p>[ Brokerage name ]</p>

    <p>[ ] I am the broker and accept this lead.</p>

    <a href="#" class="button">Send Referral to Broker</a>

  </div>

  <div class="large-4 columns">
&nbsp;
&nbsp;
    <div class="callout panel">
      <h4>What happens next?</h4>
      <br>
      <p>The referral will be sent to your broker for approval.</p>
      <p>If your broker approves the referral, contact information for the referral will be sent to you.</p>
    </div>

  </div>

</div>
