<div class="row">
  <div class="col-md-4 col-md-offset-4">

  <h3>Referral Declined</h3>
  <hr>
  <p>This referral has been declined and returned to the Sending Agent.</p>
  <br>
  <%= link_to "Track your referrals", leads_url, class: "btn btn-primary" %>
  </div>
</div>
