<h3>Success!</h3>

<div class="row">

  <div class="col-md-6">
    <h5>The contact details of the referral has been sent <strong><%= @lead.receiving_agent.name %>.</strong></h5>
  </br>
    <button type="button" class="btn btn-primary">Track your referrals</button>
  </div>

  <div class="col-md-6">
    <div class="well">
      <h4>What happens next?</h4>
      <br>
      <p>Something here.</p>
    </div>
  </div>

</div><!-- end row -->
