<div class="row">

  <div class="col-md-4 col-md-offset-4">
    <h3>Success!</h3>
    <br>
    <p>This referral has been sent to your broker for acceptance.</p>
  </br>
    <button type="button" class="btn btn-primary">Track your referrals</button>
  </div>

</div><!-- end row -->

