<h1>Leads#index</h1>

<h5>Leads sent:</h5>

<ul>
  <% @leads_sent.each do |lead|  %>
    <li><%= lead.name %></li>
  <% end %>
</ul>

<h5>Leads Received:</h5>

<ul>
  <% @leads_received.each do |lead|  %>
    <li><%= lead.name %></li>
  <% end %>
</ul>
