<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h2>Referral Detail</h2>

    <hr>
    <h4>Status</h4>
    <p style="color:orange">//Current status of transaction goes here//</p>
    <%= link_to "View/Print referral agreement", agreement_url(@lead.id) %>

    <hr>
    <h4>Client</h4>
    <%= render 'layouts/lead_details', lead: @lead, show_details: (current_user == @lead.sending_agent.user || @lead.accepted? ? true : false) %>

    <hr>
    <h4>Agent</h4>
      <ul style="color:orange">
        <li>Name</li>
        <li>Brokerage Name</li>
        <li>Email</li>
        <li>Phone</li>
      </ul>

    <hr>
    <h4>History</h4>
    <p style="color:orange">//Timestamped steps can go here.//</p>
    <hr>

  </div>
</div>
