<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h2>Referral Detail</h2>

    <hr>
    <h4>Status</h4>
    <p style="color:orange">//Note: SureRefer will track the progress of a referral after it is accepted. This feature is under development.//</p>
    <%= link_to "View/Print referral agreement", @url, target: "_blank" if @lead.accepted? %>

    <hr>
    <h4>Client</h4>
    <%= render 'layouts/lead_details', lead: @lead, show_details: (current_user == @lead.sending_agent.user || @lead.accepted? ? true : false) %>

    <hr>
    <h4>Agent</h4>
    <p style="color:orange">//Note: The other agent's information will be listed here. This feature is under development.//</p>
      <ul style="color:orange">
        <li>Name</li>
        <li>Brokerage Name</li>
        <li>Email</li>
        <li>Phone</li>
      </ul>

    <hr>
    <h4>History</h4>
    <p style="color:orange">//Note: A timestamped history of the referral steps will be listed here. This feature is under development.//</p>
    <hr>

  </div>
</div>
