<div class="row">

  <div class="col-md-6">
    <h2>SureRefer makes referrals easy.</h2>

    <p class="lead">Real estate referrals are a chore. Filling out forms, gathering signatures, scanning, emailing, faxing, following up – no wonder many never get sent!</p>
    <p></p>
    <p>And it's not surprising that many end up forgotten – with referring agents not getting paid when transactions close.</p>
    <p>No more: We brought referrals online and made them easy, fast, and free.</p>
    <p>It's about time!</p>
    <br>
    <a href="/wizard/step1" class="btn btn-primary">Send a Referral in 3 Minutes or Less</a>
  </div>

  <div class="col-md-6">
    <br>
    <iframe src="//embed.gettyimages.com/embed/77817249?et=lO7z7Qv3OEKMBhBB_I0IwQ&sig=fGIU2M6dlj0E8XJHA6aKczPps0JAQkC45-zkOvbdfqM=" width="498" height="400" scrolling="no" frameborder="0" style="display:inline-block;"></iframe>
  </div>

</div>
