<div class="row">

<p></p>

<div class="small-2 medium-4 large-12 columns">
<h2>SureRefer makes referrals easy.</h2>

<p>Sending real estate referrals is a chore.</p>
<p>Filling out forms, gathering signatures, scanning, emailing, faxing, following up – no wonder many referrals never get sent!</p>
<p>It's not surprising so many end up forgotten – with the referring agent never getting paid.</p>
<p>No more. We brought the referral process into the 21st Century. It's about time.</p>

<a href="/wizard/step1" class="button">Send a Referral</a>

</div>
</div>


