<div class="row">

<p></p>

<div class="small-12 medium-8 large-8 columns">

<h2>SureRefer makes referrals easy.</h2>

<p>Sending real estate referrals is a chore.</p>
<p>Filling out forms, gathering signatures, scanning, emailing, faxing, following up – it's no wonder many referrals never get sent! And it's not surprising that many referrals end up forgotten – with the Sending Agent never getting paid.</p>

<p>No more. We brought the referral process into the 21st Century. It's about time.</p>

<hr>

<h3>Frequently Asked Questions (FAQ)</h3>
<p></p>
<strong>What is SureRefer?</strong>
<p>SureRefer is the fastest, easiest, safest way to do real estate referrals online.</p>

<strong>Why should I use it?</strong>
<ul>
<li>It's fast: Send a referral in less than one minute!</li>
<li>It's easy: We take care of sending your referral and getting signatures from the Receiving Agent and/or Broker.</li>
<li>It's safe: Your client's personal information isn't shared with the Receiving Agent until they accept the referral.</li>
</ul>

<strong>What is the referral rate?</strong>
<p>The referral rate paid on a successful transaction is 25%, paid from the Receiving Agent/Broker to the Sending Agent.</p>

</div>

</div>


