<div class="row">

<p></p>

  <div class="small-12 medium-8 large-8 columns">

    <h3>SureRefer: Built by real estate professionals.</h3>

    <p>We created SureRefer to solve a problem every real estate agent eventually encounters: <strong>Referring business easily, quickly, and securely.</strong></p>

    <p>We used real-world experience and feedback from current agents to make the referral process a joy.</p>

    <p>Please let us know if there is anything we can do to make the experience better!</p>

    <p>- Nathan Roise and Justinus Adriaanse, Co-Founders</p>

    <p></p>

    <hr>

    <h4>Frequently Asked Questions (FAQ)</h4>
    <p></p>
    <strong>What is SureRefer?</strong>
    <p>SureRefer is the fastest, easiest, safest way to do real estate referrals online.</p>

    <strong>Why should I use it?</strong>
    <ul>
    <li>It's fast: Send a referral in less than one minute!</li>
    <li>It's easy: We take care of sending your referral and getting signatures from the Receiving Agent and/or Broker.</li>
    <li>It's safe: Your client's personal information isn't shared with the Receiving Agent until they accept the referral.</li>
    </ul>

  </div>

  <div class="large-4 columns">&nbsp;</div>

</div>


