<div class="row">
  <div class="large-3 columns">&nbsp;</div>
  <div class=" large-9 columns">
  <div class="button-bar">
    <ul class="button-group [radius round]">
      <li><a href="#" class="small button secondary disabled">1) Client details</a></li>
      <li><a href="#" class="small button secondary disabled">2) Receiving agent</a></li>
      <li><a href="#" class="small button secondary success">3) Review/Send</a></li>
  </div>
  </div>
  <div class="large-3 columns">&nbsp;</div>
</div>

<h1>Referral Sent</h1>
