<div class="container">

  <div class="col-md-8">
    <div class="well">
      <h5>Register to Send a Referral</h5>
      <%= render 'layouts/errors', object: @user %>
    <%= render 'users/form', user: @user, destination_url: step1_create_url, button: "Register" %>
    </div>
  </div>

  <div class="col-md-8">
    <h5>Already registered? Sign in:</h5>
    <%= render 'sessions/form' %>
  </div>

</div>



