<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h3>Register to Send a Referral</h3>
      <%= render 'layouts/errors', object: @user %>
    <%= render 'users/form', user: @user, destination_url: step1_create_url, button: "Register" %>
    </div>
  </div>

  <div class="col-md-6">
    <h4>Already registered? Sign in:</h4>
    <%= render 'sessions/form' %>

    <br>
    <p style="color:red">^ Add errors to sign in form. render < 'layouts/errors', object: @session > doesn't work</p>

  </div>

</div>




