&nbsp;

<div class="row">
  <div class="large-3 columns">&nbsp;</div>
  <div class=" large-9 columns">
  <div class="button-bar">
    <ul class="button-group [radius round]">
      <li><a href="#" class="small button secondary success">1) Register</a></li>
      <li><a href="#" class="small button secondary disabled">2) Lead details</a></li>
      <li><a href="#" class="small button secondary disabled">3) Receiving agent</a></li>
      <li><a href="#" class="small button secondary disabled">4) Send</a></li>
  </div>
  </div>
  <div class="large-3 columns">&nbsp;</div>
</div>

<div class="row">
  <div class="small-2 medium-4 large-4 columns">&nbsp;</div>
  <div class="small-8 medium-4 large-4 columns">
    <h4>Register to Send a Referral</h4>
    <%= render 'layouts/errors', object: @user %>
  </div>
  <div class="small-2 medium-4 large-4 columns">&nbsp;</div>
</div>

<div class="row">
  <div class="small-2 medium-4 large-4 columns">&nbsp;</div>
  <div class="small-8 medium-4 large-4 columns">
    <%= render 'users/form', user: @user, destination_url: step1_create_url, button: "Register" %>
  </div>
  <div class="small-2 medium-4 large-4 columns">&nbsp;</div>
</div>

&nbsp;

<div class="row">
  <div class="small-2 medium-4 large-4 columns">&nbsp;</div>
  <div class="small-8 medium-4 large-4 columns">
    <h5>Already registered? Sign in:</h5>
  </div>
  <div class="small-2 medium-4 large-4 columns">&nbsp;</div>
</div>

<%= render 'sessions/form' %>


