<% if object.errors.any? %>
  <div class="alert">

    <span class="[success alert primary] label">Sorry, there were <%= pluralize(object.errors.count, "error") %>:</span>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
