<div class="form-group">
  <label class="sr-only control-label" for="user_email">Referral Percentage</label>
  <input class="form-control" id="referral_percent" name="referral_percent" placeholder="Referral Fee %" />
</div>

